<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bmgs</title>
    <link rel="stylesheet" type="text/css" href="Principal_CSS.css" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="card_header shadow_header">
        <img id="bmglogo" src="logo_BMG.png"></img>
        <h1 id="titulo">Links Municipais</h1>
    </div>

    <div class="card_body ">

        <div class="card_bmg">
            <button > BMG 1 </button>
            <button > BMG 2 </button>
            <button > BMG 3 </button>
            <button > BMG 4 </button>
            <button > BMG 5 </button>
            <button > BMG 6 </button>
            <button > BMG 7 </button>
            <button > BMG 8 </button>
            <button > BMG 9 </button>
            <button > BMG 10 </button>
            <button > BMG 11 </button>
            <button > BMG 12 </button>
            <button > BMG 13 </button>
            <button > BMG 14 </button>
            <button > BMG 15 </button>
            <button > BMG 16 </button>
            <button > BMG 17 </button>
            <button > BMG 18 </button>
            <button > BMG 19 </button>
            <button > BMG 20 </button>
            <button > BMG 21 </button>
            <button > BMG 22 </button>
            <button > BMG 23 </button>
            <button > BMG 24 </button>
            <button > BMG 25 </button>
            <button > BMG 26 </button>
            <button > BMG 27 </button>
            <button > BMG 28 </button>
            <button > BMG 29 </button>
            <button > BMG 30 </button>
            <button > BMG 31 </button>
            <button > BMG 32 </button>
            <button > BMG 33 </button>
            <button > BMG 34 </button>
            <button > BMG 35 </button>
            <button > BMG 36 </button>
            <button > BMG 37 </button>
            <button > BMG 38 </button>
            <button > BMG 39 </button>
            <button > BMG 40 </button>
            <button > BMG 41 </button>
            <button > BMG 42 </button>
            <button > BMG 43 </button>
            <button > BMG 44 </button>
        </div> 
 

        <div class="card_form">

                <label class="input-label">Empresa</label>
                <input placeholder="Insira a Empresa" class="input" name="email">  <!--type="email"-->

                <label class="input-label">Cidade</label>
                <input placeholder="Insira a Cidade" class="input" name="email"> 

                <label class="input-label">UF</label>
                <input placeholder="Insira a UF" class="input" name="email"> 

                <label class="input-label">CNPJ</label>
                <input placeholder="Insira a CNPJ" class="input" name="email"> 

                <label class="input-label">SITE</label>
                <input placeholder="Insira o Site" class="input" name="email"> 

                <label class="input-label">Senha</label>
                <input placeholder="Insira a Senha" class="input" name="email"> 

                <label class="input-label">Login</label>
                <input placeholder="Insira o Login" class="input" name="email"> 

                <label class="input-label">Telefone</label>
                <input placeholder="Insira o Telefone" class="input" name="email"> 

                <label class="input-label">E-mail</label>
                <input placeholder="Insira o E-mail" class="input" name="email"> 

                <label class="input-label">Observações</label>
                <input placeholder="Insira a Observações" class="input" name="email"> 

                <label class="input-label">Legenda</label>
                <input placeholder="Insira a Legenda" class="input" name="email"> 
        </div>
 
    </div> 
     
 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>